---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const articles = await Astro.glob("./articles/*.md");
---

<Layout title="Dainippon Teikoku">
	<section class="w-full">
		<div class="h-24 flex justify-center items-center">
			<h1 class="font-shippori md:text-2xl lg:text-4xl">
				Welcome to the 大日本帝国 website.
			</h1>
		</div>
	</section>
	<section
		class="w-full h-64 bg-center bg-cover bg-[url('https://i.pinimg.com/originals/59/83/e8/5983e82601b5032ab14e65a16401a426.jpg')]"
	>
	</section>
	<section class="w-full flex justify-center items-center flex-col">
		<div class="h-24 flex justify-center items-center">
			<h1 class="">Official Informations</h1>
		</div>
		<div id="cardholder" class="w-[60vw]">
			{
				articles.map((articlesPosts) => (
					<Card
						href={articlesPosts.url}
						title={articlesPosts.frontmatter.title}
						body={articlesPosts.frontmatter.body}
					/>
				))
			}
		</div>
	</section>
</Layout>
