---
export interface Props {
	title: string;
	body: string;
	href: string | undefined;
}

const { href, title, body } = Astro.props;
---

<article class="p-8 border border-black mb-2 flex justify-start items-center">
	<a href={href} class="">
		<h2 class="font-shippori">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="text-slate-500">
			{body}
		</p>
	</a>
</article>
