<header class="md:h-20 flex justify-between items-center flex-col md:flex-row">
	<a
		href="/"
		class="flex justify-center items-center flex-row ml-4 mt-4 mb-4 md:mb-0 md:mt-0"
	>
		<img src="/flag.png" alt="" class="w-12 md:w-24" />
		<div class="ml-2">
			<p class="font-shippori">Archempire of Japonistan</p>
			<p class="font-shippori font-bold text-lg">大日本帝国</p>
		</div>
	</a>
	<nav
		class="w-full sm:w-96 md:w-60 flex justify-around items-center md:mr-4"
	>
		<a href="/history" class="hover:underline">History</a>
		<a href="/religion" class="hover:underline">Religion Portal</a>
		<a href="/military" class="hover:underline">Military</a>
	</nav>
</header>
