---
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<Header />
		<div class="w-full h-24 flex justify-center items-center">
			<h2 class="font-crimson text-2xl md:text-4xl">
				{frontmatter.title}
			</h2>
		</div>
		<section class="w-full flex justify-center items-center">
			<div
				class="w-[80vw] md:w-[60vw] flex justify-center items-center flex-col prose"
			>
				<slot />
			</div>
		</section>
	</body>
</html>
