---
const { frontmatter } = Astro.props;
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/flag.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<Header />
		<div class="w-full h-24 flex justify-center items-center">
			<h2 class="font-crimson text-2xl md:text-4xl">
				{frontmatter.title}
			</h2>
		</div>
		<section class="w-full flex justify-center items-center">
			<div
				class="w-[80vw] md:w-[60vw] flex justify-center items-center flex-col prose prose-h1:font-shippori prose-h1:mb-8"
			>
				<slot />
			</div>
		</section>
	</body>
</html>
<style>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
