---
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
import "../styles/base.css";
---

<html>
	<head>
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<Header />
		<div class="w-full h-24 flex justify-center items-center">
			<h2 class="font-crimson text-4xl">{frontmatter.title}</h2>
		</div>
		<section class="w-full flex justify-center items-center">
			<div class="w-[60vw] flex justify-center items-center flex-col">
				<slot />
			</div>
		</section>
	</body>
</html>
